<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>NodeJS basic with express</title>
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
		<div class="topnav">
			<a class="active" href="/">Home</a>
			<a href="/upload">Upload file</a>
		</div>

		<div style="padding: 0 20px">
			<h2>List Users Table</h2>
			<table>
				<tr class="fields">
					<th>No.</th>
					<th>Firstname</th>
					<th>Lastname</th>
					<th>Action</th>
				</tr>
				<% for(let i=0; i < dataUser.length; i++) { %>
				<tr>
					<td><%= dataUser[i].id %></td>
					<td><%= dataUser[i].firstname %></td>
					<td><%= dataUser[i].lastname %></td>
					<td class="td_action">
						<a href="/detail/user/<%= dataUser[i].id%>" target="_blank"
							>Detail</a
						>
						<form action="/edit-user/<%= dataUser[i].id%>" method="get">
							<button type="submit">Edit</button>
						</form>
						<form action="/delete-user" method="post">
							<input
								type="text"
								hidden
								value="<%= dataUser[i].id %>"
								name="userId"
							/>
							<button type="submit">Delete</button>
						</form>
					</td>
				</tr>
				<% } %>
			</table>
		</div>

		<div class="create-user-container">
			<form action="/create-new-user" method="post">
				<div><b>Create a new User</b></div>
				<div>
					<label>First Name: </label>
					<input type="text" name="firstname" />
				</div>
				<div>
					<label>Last Name: </label>
					<input type="text" name="lastname" />
				</div>
				<div>
					<label>Email: </label>
					<input type="email" name="email" />
				</div>
				<div>
					<label>Address: </label>
					<input type="text" name="address" />
				</div>
				<div>
					<button type="submit" class="btn-submit">Submit</button>
				</div>
			</form>
		</div>
	</body>
</html>
